<br>
<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <div class="content">
        <h1>👋 Welcome</h1>

        <p>
          Mistake Log is an open source project to help you track and
          reflect on your mistakes and failures.
          To improve, you first need to figure out what needs to be improved.
          Mistake Log will help you reflect on your patterns of behavior.
        </p>

        <div class="buttons">
          <%= link_to "Sign up", new_user_registration_path, class: "button is-link" %>
          <%= link_to "Learn more", about_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
