// Place all the styles related to the mistakes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mistake .actions {
  margin-bottom: 5px;
}

.rating.spacer {
  padding-left: 5px;
  padding-right: 5px;
}

hr.mistake.divider {
  margin-top: 1em;
  margin-bottom: 1em;
}
