<div class="container flash-message">
  <article class="message <%= alert_type(type) %>">
    <div class="message-body flash-message">
      <button class="delete is-pulled-right flash-message-delete" aria-label="delete"></button>
      <p><%= message %></p>
    </div>
  </article>
</div>
